.heroDetail p, label{
    line-height: 36px;
    display: block;
}
.noData {
    margin: 10px 0;
}
.noData p{
    font-size: 16px;
    line-height: 30px;
    padding: 20px;
    border: 1px solid #ccc;
}